@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

html {
	font-size: 1em;
	font-family: 'Fugaz One', cursive;
}

body {
	background-color: #696969;
	line-height: 1.3em;
	margin: 0;
}

a {
	text-decoration: none;
	color: #66CDAA;
}

.divbox {
	background-color: #F0F8FF;
	margin-left: 30%;
	margin-right: 30%;
	height: 6500px;
	width: 40%;
	padding: 1em;
	line-height: 1em;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	float: left;
}

div .Description {
	font-size: 2em;
	line-height: 1em;
}

#MKB {
	font-size:1.7em;
	line-height: 1em;
}

#PF {
	font-size:1.5em;
	line-height: 1em;
}

img {
	max-width: 30%;
}
